<!-- views/partials/games.ejs -->

<div class="uk-panel uk-panel-box uk-panel-box-secondary">
        <h3 class="uk-panel-title"><i class="uk-icon-laptop"></i> Current Games</h2>
	No current games
</div>
