<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Nodeminion</title>

<!-- CSS (load uikit from a CDN) -->
<link rel="stylesheet" href="/css/uikit.almost-flat.min.css">
<style>
    body    { padding-top:15px; }
</style>

<!-- JS (load uikit from a CDN) -->
<script src="/js/jquery.min.js"></script>
<script src="/js/uikit.min.js"></script>
