<!-- views/partials/lobby.ejs -->
<div class="uk-panel uk-panel-box uk-panel-box-secondary">
	<div class="uk-panel">
		<h3 class="uk-panel-title"><i class="uk-icon-group"></i> Dominion Lobby</h3>
	</div>
	<div class="uk-panel uk-width-1-1 uk-panel-box uk-panel-box-secondary" style="height: 200px;">

	</div>
	<div class="uk-panel uk-panel-box uk-width-1-1" style="height: 20px;">

	</div>
</div>

