<!-- views/partials/lobby.ejs -->
<div class="uk-panel uk-panel-box uk-panel-box-secondary">
	<script src="/js/game/lobby.js"></script>
	<div class="uk-panel">
		<h3 class="uk-panel-title"><i class="uk-icon-desktop"></i> Dominion Lobby</h3>
	</div>
	<div id="lobby-win" class="uk-panel uk-width-1-1 uk-panel-box uk-panel-box-secondary" style="height: 200px; overflow: auto;">

	</div>
	<form class="uk-form" id="lobby-form" action="">
		<fieldset data-uk-margin>
			<div class="uk-form-row uk-panel-box-secondary"></div>
				<input id="lobby-txt" type="text" placeholder="Start typing..." class="uk-width-9-10 uk-grid-collapse uk-form-blank" autocomplete="off" <%if (typeof user !== "undefined" && user) { } else { %>disabled<% } %>>
				<button class="uk-button uk-button-primary" style="float:right;" <%if (typeof user !== "undefined" && user) { } else { %>disabled<% } %>><i class="uk-icon-share"></i> Send</button>
			</div>
		</fieldset>
	</form>
</div>

