<!-- views/partials/login.ejs -->

<div class="uk-panel uk-panel-box uk-panel-box-secondary">
	<h3 class="uk-panel-title">User Login</h3>
	<a href="../login" class="uk-button"><i class="uk-icon-user"></i> Login</a>
	<a href="../signup" class="uk-button"><i class="uk-icon-rocket"></i> Signup</a>
</div>
