<!-- views/partials/players.ejs -->

<div class="uk-panel uk-panel-box uk-panel-box-secondary">
	<h3 class="uk-panel-title"><i class="uk-icon-group"></i> Current Players</h3>
		<script src="/js/game/lobbylist.js"></script>
		<div class="uk-grid">
			<div class="uk-panel uk-width-1-4">
				<ul class="uk-list" id="player-list-1">

				</ul>
			</div>
			<div class="uk-panel uk-width-1-4">
				<ul class="uk-list" id="player-list-2">

				</ul>
			</div>
			<div class="uk-panel uk-width-1-4">
				<ul class="uk-list" id="player-list-3">

				</ul>
			</div>
			<div class="uk-panel uk-width-1-4">
				<ul class="uk-list" id="player-list-4">

				</ul>
			</div>
		</div>
</div>
