<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="uk-container uk-container-center uk-margin-large-bottom">
    <header>
		<% include ../partials/header %>
    </header>

    <main>
	<div class="uk-grid uk-margin-top">
		<div class="uk-width-small-1-1"><br/></div>
		<div class="uk-width-small-7-10">
			<div class="uk-panel uk-panel-box uk-panel-box-secondary" style="min-height:150px;">
				<h3 class="uk-panel-title"><i class="uk-icon-group"></i> Current Players</h3>
					<script src="/js/game/lobby.js"></script>

					<table>
					<% include ../partials/players %>
					</table>
			</div>
		</div>
		<div class="uk-width-small-3-10">
			<div class="uk-panel uk-panel-box uk-panel-box-secondary" style="min-height:150px;">
				<h3 class="uk-panel-title" ><i class="uk-icon-flask"></i> <span id="playerCount">Create Game</span></h3>
					<ul class="uk-list" id="setupList">
					
					</ul>
			</div>
		</div>
		<div class="uk-width-small-1-1"><br/></div>
		<div class="uk-width-small-1-1">
			<div class="uk-panel uk-panel-box uk-panel-box-secondary">
				<h3 class="uk-panel-title"><i class="uk-icon-laptop"></i> Current Games</h2>
				No current games
			</div>
		</div>
		<div class="uk-width-small-1-1"><br/></div>
		<div class="uk-width-small-1-1">
			<div class="uk-panel uk-panel-box uk-panel-box-secondary">
				<script>
				var socket = io();
				document.addEventListener('DOMContentLoaded', function() {			
					<%if (typeof user !== "undefined" && user) { %>socket.emit('send user', '<%-user._id%>');<%} %>
				});
				</script>
				<div class="uk-panel">
					<h3 class="uk-panel-title"><i class="uk-icon-desktop"></i> Dominion Lobby</h3>
				</div>
				<div id="lobby-win" class="uk-panel uk-width-1-1 uk-panel-box uk-panel-box-secondary" style="height: 200px; overflow: auto;">

				</div>
				<form class="uk-form" id="lobby-form" action="">
					<fieldset data-uk-margin>
						<div class="uk-form-row uk-panel-box-secondary"></div>
							<input id="lobby-txt" type="text" placeholder="Start typing..." class="uk-width-9-10 uk-grid-collapse uk-form-blank" autocomplete="off" <%if (typeof user !== "undefined" && user) { } else { %>disabled<% } %>>
							<button class="uk-button uk-button-primary" style="float:right;" <%if (typeof user !== "undefined" && user) { } else { %>disabled<% } %>><i class="uk-icon-share"></i> Send</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<footer>
        <% include ../partials/footer %>
		</footer>
	</div>
    </main>
</div>    
</body>
</html>
